@import (less) "../common/vars.less";

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 69px;
  background: transparent;
  transition: all 1s ease;
  z-index: 1000;
  @media screen and (max-width: 767px){
    background: none!important;
    box-shadow: none!important;
    opacity: 0.9;
  }

  a {
    text-decoration: none;
  }

  &.fixed {
    background: #000000;
    opacity: 0.9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    + section {
      padding-top: 136px;
    }
  }

  &__links {
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    @media screen and (max-width: 767px){
      text-align: left;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 120vh;
      box-sizing: border-box;
      background: #000000;
      transition: left 1s ease;

      &.active {
        left: 0;
      }
    }

    li {
      display: inline-block;
      padding: 0;

      @media screen and (max-width: 767px) {
        display: block;
      }

      &:last-child {
        position: absolute;
        top: 5px;
        right: 20px;
        color: @color_text_white;

        .social {
          text-align: right;
        }

        @media screen and (max-width: 1500px) and (min-width: 768px) {
          display: none;
        }

        @media screen and (max-width: 767px) {
          position: static;
          padding: 10px 15px;

          a {
            display: inline-block;
            padding-bottom: 10px;
          }

          .social {
            text-align: left;
          }

        }

      }

    }

  }

  &__link {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 36px;
    color: @color_text_white;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background: @color_text_blue;
      color: @color_text_white;
    }

    &:focus {
      color: @color_text_white;
    }

  }

}

#hamburger {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 60px;
  height: 45px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;

  @media screen and (min-width: 768px) {
      display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background-color: darken(@color_gray, 10%);

    &:nth-child(1) {
      top: 0px;

      .active& {
        top: 18px;
        transform: rotate(135deg);
      }

    }

    &:nth-child(2) {
      top: 18px;

      .active& {
        opacity: 0;
        left: -60px;
      }

    }

    &:nth-child(3) {
      top: 36px;

      .active& {
        top: 18px;
        transform: rotate(-135deg);
      }

    }

  }

}