h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

th {
  max-width: 100px;
  word-break: break-word;
}

a {
  outline: none!important;
}

.btn-primary {
  margin-right: 10px;
}

.form-horizontal .form-group {
  margin: 0 0 15px 0!important;
}

.fancybox-content {
  min-height: 80vh;
}

.fancybox-iframe .field-galleryimages-savetemplate{
  display: none;
}

iframe[id$="-content_ifr"] {
  min-height: 500px;
}

.block {
  padding: 10px;
  font-size: 0;
  border-bottom: 1px solid #000000;

  &_btn {
    padding: 10px 0;
  }

  &:first-of-type {
    margin-top: 20px;
    border-top: 1px solid #000000;
  }

  &:nth-of-type(2n+1) {
    background-color: #e3e3e3;
  }

  &:nth-of-type(2n) {
    background-color: #b9def1;
  }

  &_sup {
    display: inline-block;
    padding: 0 15px;
    width: 40%;
  }

}

.item {
  padding: 10px;

  &_post {
    border-bottom: 1px solid #000000;

    &:first-of-type {
      border-top: 1px solid #000000;
    }
  }

  &_pages {
    border-bottom: 1px solid #000000;

    &:first-of-type {
      border-top: 1px solid #000000;
    }
  }

  &_meta{
    display: inline-block;
    margin-bottom: 20px;
    width: 50%;
    font-size: 14px;
  }

  &_gallery {
    display: inline-block;
    max-width: 25%;
    vertical-align: text-top;
    padding: 5px;

    .img_block {
      position: relative;

      &:hover {
        .buttons {
          opacity: 1;
        }
      }
    }

    p {
      font-size: 16px;
    }

    img {
      max-width: 100%;
    }

    .buttons {
      opacity: 0;
      transition: opacity 0.5s ease;
      position: absolute;
      bottom: 0;
      right: 10px;

      .button {
        font-size: 28px;
        margin-left: 15px;
      }
    }

  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: rgba(0,0,0,0.8);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate 1s infinite linear;
    -moz-animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
    margin-left: -33px;
    margin-top: -33px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

iframe .b-logout {
  display: none;
}
