@import (less) "common/common.less";

h2 {
  font-size: 48px;
  margin-bottom: 80px;
  color: @color_text_gray;
}

section {
  padding: 100px 0;

  &:nth-child(2n+1) {
    background: @color_gray;
  }

}

.nav__links li:last-child {
  top: 24px;
}

.fancybox-slide > div {
  width  : 800px;
  height : 600px;
  max-width  : 80%;
  max-height : 80%;
  margin: 0;
}
.fancybox-close-small {
  &:hover::after {
    color: @color_text_blue;
  }
  &::after {
    width: 40px;
    height: 40px;
    font-size: 36px;
    line-height: 40px;
    right: 10px;
    outline: none!important;
  }
}

div[id^="advantages__text"],
div[id^="partners__text"]{
  display: none;
  border-radius: 7px;
  border: 7px solid @color_text_blue;

  &::before {
    left:0;
  }

  &::after {
    right:0;
  }

}

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: @color_text_white;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.4;
    z-index: 1;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  &__text {
    position: relative;
    padding-top: 50px;
    text-align: center;
    z-index: 2;
  }

  &__title {
    display: inline-block;
    text-align: right;
  }

  &__info {
    padding-top: 20%;
    font-size: 24px;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.advantages {

  &__item {
    display: inline-block;
    .grid(1,4);
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
    vertical-align: text-top;

    @media screen and (max-width: 768px) {
      .grid(1,1);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

  }

  .item {

    &__img {
      display: inline-block;
      max-width: 50%;
      padding-bottom: 20px;
    }

    &__title {
      font-size: 22px;
      color: @color_text_black;
      margin-bottom: 10px;
    }

    &__text_short {
      font-size: 18px;
      color: @color_text_gray;
    }

  }

  #text {
    display: none;
  }
}

.premises {

  .flex {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    display: inline-block;
    padding: 10px 60px;
    font-size: 24px;
    background: @color_text_blue;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
  }

  .column:first-of-type::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width: 3px;
    border-radius: 2px;
    height: 100%;
    background: @color_text_blue;

    @media screen and (max-width: 767px) {
      display: none;
    }

  }
}

.partners {

  &__item {
    outline: none;

    &:hover {
      opacity: 0.5;
    }
  }

  .item__img {
    display: inline-block;
    max-width: 50%;
  }

  .slick-next:before,
  .slick-prev:before {
    color: @color_text_blue;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: 40px;
  }

  .slick-next:before {
    content: '\f054';
  }

  .slick-prev:before {
    content: '\f053';
  }

}

.contacts {

  &__item {
    display: inline-block;
    .grid(1,3);
    padding-bottom: 20px;
    vertical-align: text-top;

    @media screen and (max-width: 767px) {
      .grid(3,3);
    }

    &__title{
      font-size: 24px;
      margin-bottom: 20px;
    }

    > p {
      font-size: 16px;
    }

    &__img {
      width: 100%;
      height: 90px;
      margin-bottom: 20px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:nth-of-type(1) .contacts__item__img {
      background-image: url("/img/placeholder.svg");
    }
    &:nth-of-type(2) .contacts__item__img {
      background-image: url("/img/phone-call.svg");
    }
    &:nth-of-type(3) .contacts__item__img {
      background-image: url("/img/envelope.svg");
    }

  }

}

.feedback {

  .flex {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  form {
    input,
    textarea {
      padding: 10px 24px;
      margin: 20px 0;
      width: 100%;
      border-radius: 10px;
      -webkit-appearance: none;
      background: @color_gray;
      border: 1px solid @color_text_gray;
      font-size: 18px;
      font-family: sans-serif;

      &:hover,
      &:focus {
        outline: none;
        border-color: @color_text_blue;
      }
    }

    .form-group {

      &:first-of-type input {
        margin-top: 0;
      }

    }

    .field-contactform-recaptcha {
      .g-recaptcha {

        & > div{
          margin: 0 auto;
        }

      }
    }

    input {
      height: 52px;
    }

    textarea {
      height: 300px;
    }
  }

  &__item * {
    font-size: 16px;
  }
}