@import (less) "common/common.less";

h1 { font-size: 48px;}
h2 { font-size: 32px;}
h3 { font-size: 24px;}
h4 { font-size: 20px;}
h5 { font-size: 16px;}
h6 { font-size: 12px;}

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

img:hover {
  cursor: pointer;
}

.page_wrapper {

  ul {

    li {
      position: relative;
      margin-left: 10px;
      margin-bottom: 5px;
      padding-left: 15px;

      &::before {
        content: "\f111";
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left:0;
        top: 1em;
        transform: translate(0,-50%);
        font-size: 0.5em;
      }

    }

  }

}

.nav {
  background: #000000;
}

.page_wrapper {
  padding-top: 69px;
  font-size: initial;
  min-height: (calc(~'100vh - 133px'));
  @media screen and (max-width: 991px){
    padding-top: 116px;
  }
}

.regata {
  h2 {
    color: @color_text_black;
  }

  .nav {
    background: @color_water_lite;

    &__links {
      @media screen and (max-width: 767px) {
        background: @color_water_lite;
        opacity: 0.9;
      }
    }

    &__link {
      &:hover,
      &:active {
        background: @color_text_white;
        color: @color_water;
      }
    }

  }

}

.news{

  &__block {
    padding: 15px;
  }

  &__item {
    position: relative;
    margin-bottom: 24px;



    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);
      width: 100%;
      height: 4px;
      background-image: url(/img/divider_regata_horizontal_blue.png);
      background-size: contain;
    }
  }

  &__title {
    font-size: 24px;
    color: @color_water_lite;
    margin: 20px 0;
  }

  &__text {
    padding: 10px 0;
  }

}

[class^="room"] {
  fill: none;

 &.active {
    fill: rgba(252, 192, 51, 0.9);
    cursor: pointer;

   &:hover {
     fill: darken(rgba(252, 192, 51, 0.9), 15%);
   }

 }
}

g[class^="room"] {
  fill: #000000!important;
}

.premises__text {
  display: none;
  min-height: 50vh;
  min-width: 50vw;
  font-size: 0;

  .column {
    font-size: 16px;
  }

  form {
    .control-label {
      display: none;
    }
  }
}

.feedback {

  .flex {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  form {
    input,
    textarea {
      padding: 10px 24px;
      margin: 5px 0;
      width: 100%;
      border-radius: 10px;
      -webkit-appearance: none;
      background: @color_gray;
      border: 1px solid @color_text_gray;
      font-size: 18px;
      font-family: sans-serif;

      &:hover,
      &:focus {
        outline: none;
        border-color: @color_text_blue;
      }
    }

    .form-group {

      &:first-of-type input {
        margin-top: 0;
      }

      .btn {
        margin-top: 10px;
      }

    }

    .field-contactform-recaptcha {
      .g-recaptcha {

        & > div{
          margin: 0 auto;
        }

      }
    }
  }

  &__item * {
    font-size: 16px;
  }
}

.photo {

  &__block {
    position: relative;
    margin: 80px auto;
    font-size: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 220px;
      height: 4px;
      background-image: url('/img/divider_regata_horizontal_blue.png');
    }

    &:before {
      top: -40px;
    }

    &:after {
      bottom: -40px;
    }

  }

  &__wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 5px;
      margin: 0;
    }

  }

  &__item {
    display: inline-block;
    width: 23%;
    margin: 1%;
    border: 7px solid @color_turquoise_btn;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      border-color: @color_turquoise_btn_hover;
      opacity: 0.7;
    }

    @media screen and (max-width: 767px) {
      width: 98%;

      &:nth-of-type(n+5) {
        display: none;
      }
    }

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

}

.news{
  h1 {
    display: block;
  }
  &__time {
    color: #cebebe;
    display: block;
    margin-bottom: 20px;
  }

  + .text-center .btn_more {
    margin-bottom: 40px;
  }
}