@import (less) "common/common.less";

h2 {
  font-size: 48px;
  margin-bottom: 80px;
  color: @color_text_black;
}

section {
  padding: 100px 0;

  &:nth-child(2n+1) {
    background: @color_water_lite;

    h2 {
      color: #ffffff;
    }
  }
}

.nav {
  &.fixed {
    background: @color_water_lite;
    opacity: 1;
    box-shadow: 0 2px 4px @color_water;
  }

  &__links {
    @media screen and (max-width: 767px) {
      background: @color_water_lite;
      opacity: 0.9;
    }
  }

  &__link {
    &:hover,
    &:active {
      background: @color_text_white;
      color: @color_water;
    }
  }

}

.fancybox-slide > div {
  width  : 800px;
  height : 600px;
  max-width  : 80%;
  margin: 0;
}
.fancybox-close-small {
  &:hover::after {
    color: @color_water;
  }
  &::after {
    width: 40px;
    height: 40px;
    font-size: 36px;
    line-height: 40px;
    right: 10px;
    outline: none!important;
  }
}

div[id^="advantages__text"],
div[id^="partners__text"]{
  display: none;
  border-radius: 7px;
  border-top: 7px solid @color_water_lite;
  border-bottom: 7px solid @color_water_lite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top:0;
    height: 100%;
    width: 7px;
    background: @color_water_lite;
  }

  &::before {
    left:0;
  }

  &::after {
    right:0;
  }

}

.intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: @color_text_white;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #16588b;
    opacity: 0.4;
    z-index: 1;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  &__text {
    position: relative;
    padding-top: 50px;
    text-align: center;
    z-index: 2;
  }

  &__title {
    display: inline-block;
    text-align: right;
  }

  &__info {
    padding-top: 20%;
    font-size: 24px;
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.about {

  &__item {
    font-size: 18px;
  }

}

.news {
  color: @color_turquoise_btn;

  .column {
    min-height: 220px;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    @media screen and (max-width: 767px) {
      padding: 0 15px;
      margin-bottom: 12px;
    }

    .wrapper{
      display: inline-block;
    }

  }

  .flex {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    display: inline-block;
    padding: 10px 20px 10px 0;
    font-size: 24px;
    border-radius: 20px;
  }

  &__date {
    font-size: 12px;
    color: @color_gray;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    color: @color_gray;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    font-size: 16px;

    &:hover {
      color: @color_gray;
    }
  }

  .column:first-of-type::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width: 4px;
    border-radius: 2px;
    height: 100%;
    background-image: url(/img/divider_regata_vertical.png);

    @media screen and (max-width: 767px) {
      bottom: -13px;
      left: 50%;
      top: inherit;
      transform: translate(-50%);
      height: 4px;
      width: 80%;
      background-image: url(/img/divider_regata_horizontal.png);
    }

  }
}

.partners {

  &__item {
    outline: none;

    &:hover {
      opacity: 0.5;
    }
  }

  .item__img {
    display: inline-block;
    max-width: 50%;
  }

  .slick-next:before,
  .slick-prev:before {
    color: @color_water_lite;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    font-size: 40px;
  }

  .slick-next:before {
    content: '\f054';
  }

  .slick-prev:before {
    content: '\f053';
  }

  .slick-next,
  .slick-prev {
    &:hover {
      &:before {
        color: @color_water;
      }
    }
  }
}

.photo {

  &__block {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 220px;
      height: 4px;
      background-image: url('/img/divider_regata_horizontal.png');
    }

    &:before {
      top: -40px;
    }

    &:after {
      bottom: -40px;
    }

  }

  &__wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
  }

  &__item {
    display: inline-block;
    width: 23%;
    margin: 1%;
    border: 7px solid @color_turquoise_btn;
    border-radius: 5px;

    &:hover {
      border-color: @color_turquoise_btn_hover;
      opacity: 0.7;
    }

    @media screen and (max-width: 767px) {
      width: 98%;

      &:nth-of-type(n+5) {
        display: none;
      }
    }

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

}

.feedback {

  .flex {
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  form {
    input,
    textarea {
      padding: 10px 24px;
      margin: 20px 0;
      width: 100%;
      border-radius: 10px;
      -webkit-appearance: none;
      background: @color_text_white;
      border: 1px solid @color_text_gray;
      color: @color_text_gray;
      font-size: 18px;
      font-family: sans-serif;

      &:hover,
      &:focus {
        outline: none;
        border-color: @color_turquoise_btn;
      }
    }

    .form-group {

      &:first-of-type input {
        margin-top: 0;
      }

    }

    .field-contactform-recaptcha {
      .g-recaptcha {

        & > div{
          margin: 0 auto;
        }

      }
    }

    input {
      height: 52px;
    }

    textarea {
      height: 300px;
    }
  }

  &__item * {
    font-size: 16px;
  }

  .column:nth-child(2) {
    background-image: url(/img/feedback-bg-regata.jpg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    @media screen and (max-width: 767px) {
      background: none;
    }
  }
}