@import (less) "reset.css";
@import (less) "normalize.css";
@import (less) "grid.less";
@import (less) "font.less";
@import (less) "../components/nav.less";
@import (less) "../fonts/fontawesome/css/font-awesome.css";


*{
  box-sizing: border-box;
}

a,
button {
  outline-style: none;
  color: inherit;
}

html,
body {
  font-family: Arial, Helvetica, FreeSans, sans-serif;
  font-weight: normal;
  height: 100%;
  width: 100%;
}

body {
  color: @color_text_black;
}

section {
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 5px;
  display: inline-block;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }

  ~ p {
    font-size: 48px;

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

  }

}

h2 {

    font-size: 48px;
    margin-bottom: 80px;
    color: @color_text_gray;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  .feedback & {
    margin-bottom: 20px;
  }
}

p, ul, li, span {
  line-height: 1.3em;
  word-break: break-word;
}

p {
  margin-bottom: 12px;
}

ul {
  li {
    padding-left: 10px;
  }
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  background: none;

  &_more {
    padding: 20px 60px;
    margin-top: 80px;
    border-radius: 30px;
    font-size: 20px;

    &_blue {
      border: 1px solid @color_text_blue;
      color: @color_text_blue;
      &:hover {
        color: @color_text_white;
        background: @color_text_blue;
      }
    }

    &_water {
      background: @color_water_lite;
      color: @color_text_white;
      &:hover {
        color: @color_text_white;
        background: @color_water;
      }
    }

    &_turquoise{
      background: @color_turquoise_btn;
      color: @color_text_white;
      &:hover {
        color: @color_text_white;
        background: @color_turquoise_btn_hover;
      }
    }

  }
}

.text-{

  &center {
    text-align: center;
  }

  &left {
    text-align: left;
  }

  &right {
    text-align: right;
  }

}

.flex {
  display: flex;
  &-column {
    display: flex;
    flex-direction: column;
  }
}

.mobiltm {
  position: relative;
  display: inline-block;
  margin-left: 15px;

  img {
    width: 200px;

    @media screen and (max-width: 767px){
      width: 150px;
    }
  }

  &::after {
    content: 'TM';
    position: absolute;
    top: -10px;
    right: -20px;
    font-size: 12px;
    color: #ffffff;
    text-shadow: none;
    @media screen and (max-width: 767px) {
      font-size: 6px;
      right: -10px;
    }
  }

}

.feedback .agreement {
  #contactform-agreement{
    -webkit-appearance: checkbox;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }

  label {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}

.footer {
  background: #000000;
  width: 100%;
  text-align: center;
  padding: 30px 10px;
  color: @color_text_white;
  height: 133px;

  @media screen and (max-width: 767px) {
    height: auto;
  }

  a {
    text-decoration: none;
  }

  i {
    margin-right: 5px;
  }

  .flex {
    align-items: flex-end;
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  .social {
    font-size: 42px;
  }

  &__logo {
    width: 265px;
    margin-bottom: 2px;
  }

  &__item {
    display: inline-block;
    .grid(1,3);
    font-size: 18px;

    @media screen and (max-width: 767px) {
      .grid(3,3);
      padding: 10px 0;
      font-size: 16px;
    }

    @media screen and (max-width: 370px) {
      font-size: 15px;
    }

    @media screen and (max-width: 360px) {
      font-size: 14px;
    }

    @media screen and (max-width: 340px) {
      font-size: 13px;
    }

    span {
      display: inline-block;
      padding: 5px;
    }

  }
}

.social {
  padding: 5px;
  font-size: 36px;
  a:hover {
    color: @color_text_blue;
  }
}

.fancybox-button--left,
.fancybox-button--right{
  position: fixed;
  top: 50%;
  -webkit-transform: translateZ(0)
}

.fancybox-button--right{
  right: 10px;
}
.fancybox-button--left {
  left: 10px;
}

.help-block-error {
  font-size: 16px;
  color: red;
}

.slick-track {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .slick-prev {
    left:0;
  }
  .slick-next {
    right: 0;
  }
}

@media screen and (max-width: 360px){
  #rc-imageselect,
  .g-recaptcha {
    transform:scale(0.87);
    transform-origin:0 0;
  }
}