@font-face {
  font-family: 'HelveticaRegular';
  src: url('fonts/halvetic/HelveticaRegular.eot'), url('fonts/halvetic/HelveticaRegular.woff'), url('fonts/halvetic/HelveticaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}