.grid(@col, @grid__cols) {
  width:((@col*100%)/@grid__cols);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  font-size: 0;
  @media screen and (min-width: 768px) {
    width: 750px;
  }
  @media screen and (min-width: 992px) {
    width: 970px;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}

.column {
  display: inline-block;
  .grid(1,2);
  vertical-align: top;
  position: relative;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    .grid(2,2);
    padding-bottom: 20px;
  }
}