@color_text_black: #2B2926;
@color_text_blue: #2557b5;
@color_mobil_blue: #0047ba;
@color_text_white: #FFFFFF;
@color_text_red: #D42E12;
@color_text_gray: #666666;

@color_water: #063a5e;
@color_water_lite: #2f6890;

@color_turquoise_btn: #5ca7cd;
@color_turquoise_btn_hover: #4e96bb;

@color_gray: #e7e7e7;